<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>订阅本站</span>
          </a>
        </p>
      </div>


    </div>

    <div class="footer-col-wrapper">

      <div class="footer-col">
        {%- include friends.html -%}
      </div>
    </div>
  </div>

</footer>