<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}

  <div class="bbanner">
    欢迎转载文章，转载不用和我说。
    本站所有信息均代表我自己，不代表任何公司。
  </div>
</body>

<style>
  .bbanner {
    padding: 20px 0;
    text-align: center;
    color: #999;
    font-size: 12px;
  }

  body {
    background-color: #d7e06666;
  }
</style>

<script>
  function addChild(top, snowShape) {
    var div = document.createElement("div");
    div.innerHTML = snowShape;
    div.className = "flake";
    div.style.position = 'fixed';
    div.style.color = 'white';
    div.style.opacity = 0.9;
    div.style.left = parseInt(Math.random() * window.innerWidth) + 'px';
    div.style.top = top + 'px';
    div.style.fontSize = parseInt(Math.random() * 50) + 'px';
    document.body.appendChild(div);
  };
  function autoWipe(snowSpeed, snowShape) {
    var flake = document.getElementsByClassName('flake');
    var timer = setInterval(function () {
      for (var i = 0; i < flake.length; i++) {
        var opacity = flake[i].style.opacity;
        var offsetTop = Number((flake[i].style.top).replace('px', ''));
        if (offsetTop < window.innerHeight) {
          offsetTop = offsetTop + snowSpeed;
          opacity = opacity - 0.003;
          flake[i].style.top = offsetTop + 'px';
          flake[i].style.opacity = opacity;
        } else {
          document.body.removeChild(flake[i]);
          addChild(0, snowShape);
        }
      }
    }, 100);
  };
  function final(bigSnowParam, snowShape) {
    for (var i = 0; i < bigSnowParam.snowNum; i++) {
      addChild(parseInt(Math.random() * window.innerHeight), snowShape);
    }
    autoWipe(bigSnowParam.snowSpeed, snowShape);
  };
  //形成最后效果
  function final(bigSnowParam, snowShape) {
    for (var i = 0; i < bigSnowParam.snowNum; i++) {
      addChild(parseInt(Math.random() * window.innerHeight), snowShape);
    }
    autoWipe(bigSnowParam.snowSpeed, snowShape);
  };

  var bigSnowParam = {
    snowNum: 242,
    snowSpeed: 6
  };
  var midSnowParam = {
    snowNum: 242,
    snowSpeed: 3
  };
  var littleSnowParam = {
    snowNum: 50,
    snowSpeed: 2
  };
  //自定义雪参考值
  var selfSnowParam = {
    snowNum: '',//值为number
    snowSpeed: ''//值为number
  };

  var snowShapeObj = {
    1: '❆',
    2: '❄',
    3: '❅',
    4: '✼',
    5: '✼',
    6: '❉',
    7: '❇',
    8: '❈',
    9: '❊',
    10: '✥',
    11: '✺'
  };
  final(littleSnowParam, snowShapeObj[1]);
</script>

</html>